<ion-view hide-back-button="true">
    <ion-nav-title>
      <div class="bar bar-header header">
        <button class="button button-clear button-positive drop_out" ng-click="goBack()"><i class="icon ion-ios-arrow-left"></i></button>
        <h1 class="title ios_title">维保历史查询</h1>

      </div>
    </ion-nav-title>
  <ion-content>
  	<div class="search_MHistory receiving_top">
  		<!--<label for="">VIN码&nbsp;&nbsp;</label>-->
    	<input ng-model="searchTxt.carLicense" type="text" ng-change="receivingSeach()" placeholder="请输入车牌号/VIN码"/>
  	</div>
    <div class="search_history_list" ng-show="searchHistoryList">
      <ul>
        <li ng-repeat="items in searchCarLicense" ng-click="receivingSeachVal(items)">{{items}}</li>
      </ul>
    </div>
  	<div class="login_submit_btn">
  		<button ng-click="search(searchTxt.carLicense)" class="button button-block button-light button-positive">维保历史查询</button>
  	</div>
    <div class="login_submit_btn">
      <button ng-click="searchWork(searchTxt.carLicense)" class="button button-block button-light button-positive">导入工单查询</button>
    </div>
  </ion-content>
</ion-view>
