<ion-view view-title="接车登记">
	<ion-nav-title>
    <div class="bar bar-header item-input-inset title no_border">
    	 <form action="javascript:return true;">       
            <label class="item-input-wrapper stock_header">
	            <i class="icon ion-ios-search placeholder-icon search_input_icon"></i>
	            <input placeholder="请输入材料名称搜索" class="stock_header_input">	        
	        </label>
        </form>
    </div>
  </ion-nav-title>
  <ion-content>
  	  <div class="item item-divider service_top">
          	维修部
      </div>
      <div class="list">
        <a class="service_connect">
        	<i class="icon ion-ios-checkmark service_center"></i>
        	周师傅
        </a>
        <a class="service_connect_bottom">
        	<i class="icon ion-ios-circle-outline service_bottom"></i>
        	王师傅
        </a>
        <a class="service_connect_bottom">
        	<i class="icon ion-ios-circle-outline service_bottom"></i>
        	小刘
        </a>
        <a class="service_connect_bottom">
        	<i class="icon ion-ios-circle-outline service_bottom"></i>
        	小张
        </a>
        <div class="item item-divider service_top_bottom">
          	保养部
        </div>
        <a class="service_connect_bottom">
        	<i class="icon ion-ios-circle-outline service_bottom"></i>
        	黄师傅
        </a>
        <a class="service_connect_bottom">
        	<i class="icon ion-ios-circle-outline service_bottom"></i>
        	董师傅
        </a>
        <a class="service_connect_bottom">
        	<i class="icon ion-ios-circle-outline service_bottom"></i>
        	蔡师傅
        </a>
        <a class="service_connect_bottom">
        	<i class="icon ion-ios-circle-outline service_bottom"></i>
        	杨师傅
        </a>
      </div>
  </ion-content>
  <div class="bar bar-footer">
      <div class="title">确认</div>
  </div>
</ion-view>
