<ion-view view-title="接车登记">
	<ion-nav-title>
    <div class="bar bar-header item-input-inset title no_border">
    	 <form action="javascript:return true;">       
            <label class="item-input-wrapper stock_header">
	            <i class="icon ion-ios-search placeholder-icon search_input_icon"></i>
	            <input placeholder="请输入材料名称搜索" class="stock_header_input">	        
	            <i class="icon ion-ios-mic-outline stock_header_right"></i>
	        </label>
        </form>
    </div>
  </ion-nav-title>
  <ion-content>
  	<div class="stock_connect">
  		<i class="icon ion-ios-checkmark stock_connect_left"></i>
  		<p class="stock_connect_center">奥迪后刹车片 博士 BJ9903</br>9923</p>
  		<p class="stock_connect_right">￥100.00</p>
  	</div>
  	<div class="stock_connect_list">
  		<i class="icon ion-ios-circle-outline stock_connect_list_left"></i>
  		<p class="stock_connect_list_center">AC 火花塞 AC BJ99309923</p>
  		<p class="stock_connect_list_right">￥100.00</p>
  	</div>
  	<div class="stock_list">
  		<i class="icon ion-ios-circle-outline stock_list_left"></i>
  		<p class="stock_list_center">安全插口 博士 BJ99309923</p>
  		<p class="stock_list_right">￥100.00</p>
  	</div>
  	<div class="stock_connect_bottom">
  		<i class="icon ion-ios-circle-outline stock_connect_list_left"></i>
  		<p class="stock_connect_list_center">安装导航 博士 BJ99309923</p>
  		<p class="stock_connect_list_right">￥100.00</p>
  	</div>
  </ion-content>
  <div class="bar bar-footer">
      <div class="title">确认</div>
  </div>
</ion-view>
